// colors
$white-primary: #ffffff;
$white-secondry: #eeeeee;

$black-primary: #000000;
$black-secondry: #333333;

$gray-primary: #f2f2f2;
$gray-secondry: #cccccc;

$green-primary: #c5e09b;
$green-secondry: #8acc21;

$blue-primary: #454a8b;

$red-primary: #d9534f;
