.wapper {
    header {
        text-align: left;
    }
    .main-container {
        display: flex;
        flex-direction: row;
        height: 90%;
        
        .Launch-section {
            max-width: 21%;
            height: max-content;
            padding: 15px;
            margin-right: 10px;            
            margin-bottom: 20px;
            background-color: #ffffff;
            border-radius: 7px;
            margin-bottom: 46px;
            position: sticky;
            top: 20px;
        }
        .details-section {
            width: 79%;        
            margin-left: 10px;
            border-radius: 7px;
            margin-bottom: 31px;
        }
    }
    footer {
        position: fixed;    
        bottom: 0;
        background-color: #f2f2f2;
        width: 100%;

        app-footer {
            text-align: center;
        }        
    }
}
