@import '../assets/scss/global.scss';

.wapper {
    width: 1440px;
    max-width: 100%;
    margin: 0 auto;

    header {
        text-align: left;
    }
    .main-container {
        display: flex;
        flex-direction: row;
        height: 90%;
        
        .Launch-section {
            max-width: 21%;
            height: max-content;
            padding: 15px;
            background-color: $white-primary;
            border-radius: 7px;
            margin-bottom: 46px;
            position: sticky;
            top: 20px;
        }
        .details-section {
            width: 79%;        
            margin-left: 10px;
            border-radius: 7px;
            margin-bottom: 31px;
        }
    }
    footer {
        position: fixed;
        bottom: 0;
        background-color: $gray-primary;
        width: 1440px;
        margin: auto;

        app-footer {
            text-align: center;
        }        
    }
}
