.wapper {
    padding: 25px;

    header {
        text-align: left;
    }
    .main-container {
        display: flex;
        flex-direction: row;
        height: 90%;
        
        .Launch-section {
            max-width: 21%;
            height: max-content;
            padding: 15px;
            margin-right: 10px;
            background-color: #ffffff;
            border-radius: 7px;
        }
        .details-section {
            width: 80%;        
            margin-left: 10px;
            border-radius: 7px;
        }
    }
    footer {
        position: fixed;    
        bottom: 0;

        app-footer {
            text-align: center;
        }        
    }
}