.mission-detail {
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;

    .mission-detail-card {
        background-color: #ffffff;
        width: 185px;
        height: auto;
        padding: 10px;
        border-radius: 7px;
        margin: 0 10px 20px 10px;
        word-break: break-all;

        img {
            width: 100%;
            max-width: inherit;
            background-color: #eeeeee;
            min-height: 100px;  
            border: 1px solid#eeeeee;          
        }
        h3 {
            color: #454a8b;
        }
        p { 
            color: #454a8b;
            strong {
                color: #333333;
            }
        }
    }
}