<h2>{{title}}</h2>
<div class="launch-year">
    <p aria-label="Launch Year">Launch Year</p>
    <div class="years">
        <button mat-flat-button color="primary" (click)="getYearWiseData(year)" *ngFor="let year of launchingYears">
            {{year}}
        </button>
    </div>
</div>

<div class="successful-launch">
    <p aria-label="Successful Launch">Successful Launch</p>
    <div class="years">
        <button mat-flat-button color="primary" (click)="getLaunchingData(status)" *ngFor="let status of launchingStatus">
            {{status}}
        </button>
    </div>
</div>

<div class="successful-landing">
    <p aria-label="successful-landing">Successful Landing</p>
    <div class="years">
        <button mat-flat-button color="primary" (click)="getLandingData(status)" *ngFor="let status of launchingStatus">
            {{status}}
        </button>
    </div>
</div>
