@import '../../../assets/scss/global.scss';

.launch-year, .successful-launch, .successful-landing {
    margin-bottom: 20px;
    
    p {
        text-transform: capitalize;
        text-align: center;
        border-bottom: 2px solid $gray-secondry;
        padding-bottom: 5px;
        margin: 0 10%;
        font-weight: 400;
        font-size: 1rem;
    }    
    .years {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        button {
            background: $green-primary !important;
            color: $black-primary;
            border: none;
            padding: 8px 30px;
            border-radius: 5px;
            line-height: 1;
            flex: 0 1 38%;
            margin: 5px 0;
            cursor: pointer; 
            border: 1px solid transparent;     
        }
        .active-btn {
            background: $green-secondry !important;  
            border: 1px solid $black-secondry;                   
        }
    }

}