<h2>{{title}}</h2>
<div class="launch-year">
    <p aria-label="Launch Year">Launch Year</p>
    <div class="years">
        <button mat-flat-button (click)="getFilterData('launchYear', (year === item) ? null : item)"
            *ngFor="let item of launchingYears" [ngClass]="year === item ? 'active-btn' : ''">
            {{item}}
        </button>
    </div>
</div>

<div class="successful-launch">
    <p aria-label="Successful Launch">Successful Launch</p>
    <div class="years">
        <button mat-flat-button (click)="getFilterData('launchStatus', (launchSuccess === item) ? null : item)"
            *ngFor="let item of launchingStatus" [ngClass]="launchSuccess === item ? 'active-btn' : ''">
            {{item}}
        </button>
    </div>
</div>

<div class="successful-landing">
    <p aria-label="successful-landing">Successful Landing</p>
    <div class="years">
        <button mat-flat-button (click)="getFilterData('landStatus', (landSuccess === item) ? null : item)"
            *ngFor="let item of landingStatus" [ngClass]="landSuccess === item ? 'active-btn' : ''">
            {{item}}
        </button>
    </div>
</div>
