
.launch-year, .successful-launch, .successful-landing {
    margin-bottom: 20px;
    
    p {
        text-transform: capitalize;
        text-align: center;
        border-bottom: 2px solid #ccc;
        padding-bottom: 5px;
        margin: 0 10%;
        font-weight: 400;
        font-size: 1rem;
    }    
    .years {
        margin-top: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}