/* You can add global styles to this file, and also import other style files */
html, body { 
    height: 100%; 
}

body {
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: #f2f2f2;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 0 auto;    
    padding: 0 25px;
}

// Media Query

// Mobile devices
@media only screen and (max-width: 700px) {
    .main-container {           
        flex-direction: column !important;     

        .Launch-section {
            max-width: 100% !important;

            .launch-year, .successful-launch, .successful-landing {                
                 
                .years {

                    button {
                        padding: 8px 20px;
                    }
                }
            }
        }
        .details-section {
            width: 100% !important;
            .mission-detail {
                flex-direction: column !important; 

                .mission-detail-card {
                    width: 100% !important;
                }
            }
        }
    }
}

// Tablet Devices
@media (min-width: 701px) and (max-width: 1024px){ 
    .main-container {    
        .Launch-section {
            max-width: 30% !important;

            .launch-year, .successful-launch, .successful-landing {
                .years {
                    button {
                        padding: 8px 20px;
                    }
                }
            }
        }
        .details-section {
            width: 70% !important;
        }
    }
}

// Desktop Devices
@media (min-width: 701px) and (max-width: 1024px){ 

}