@import './assets/scss/global.scss';

html, body { 
    height: 100%; 
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: $gray-primary;
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
}

.container {
    margin: 0 auto;    
    padding: 0 25px;
}